body {
    background-color : #CCC;
    padding : 0px;
    margin : 0px;
    height : 120vh;
}

.contents-container {
    border : 1px solid transparent;
    background-color : white;
    width : 66.5vw;
    height : 115vh;
    margin-left : 16vw;
    box-shadow : 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.201),
                 -0.5px -0.5px 2px 2px rgba(0, 0, 0, 0.107);
}

.lang-bar {
    
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    align-items : center;
    padding-right : 0.6vw;
}

.lang-bar a {
    text-decoration : none;
    width : 4.5vw;
    text-align : center;
    font-family : font-family: Georgia, "Times New Roman", Times, serif;
    background-color : #6ABAEA;
    color : white;
    font-size : 12px;
    font-style : italic;
    height : 2.5vh;
    padding-top : 0.4vh;
    border-radius : 1px;
}

.lang-bar a:hover {
    text-decoration : underline;
}

#first {
    margin-right : 0.1vw;
}

.headerDiv {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items : center;
    
}

#headerimg1 {
    margin-top : -2vh;
    margin-left : 0vw;
}

#headerImg2 {
    
    margin-top : 3vh;
    margin-left : -2vw;
}

#headerImg3 {    
    height : 14vh;
    width : 6.5vw;
    margin-right : -1vw;
}

.searchBoxDiv {
    border : 1px solid rgba(0, 0, 0, 0.26);
    
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    align-items : center;
    margin-left :46vw;
    margin-top : 0.8vh;
    width : 20vw;
       
}

.searchBoxDiv input {
    width : 15vw;
    border : none;
    height : 3vh;
}

.searchBoxDiv input:focus{
    border : none;
    outline : none;
}

.searchBoxDiv a{
    background-color : #09F;
    color : white;
    height : 3vh;
    width : 4vw;
    text-align : center;
    text-decoration : none;
    font-family : Georgia, "Times New Roman", Times, serif;
    font-weight : 500;
    border-radius : 1px;
}

.searchBoxDiv a:hover {
    color : rgba(128, 0, 0, 0.826)
}

